<p id="notice"><%= notice %></p>

<!--<p>
  <b>Eventid:</b>
  <%= @event.eventid %>
</p> -->

<p>
  <b>Sourcename:</b>
  <%= @event.sourcename %>
</p>

<!--<p>
  <b>Sourcepath:</b>
  <%= @event.sourcepath %>
</p>

<p>
  <b>Sourceid:</b>
  <%= @event.sourceid %>
</p>

<p>
  <b>Servername:</b>
  <%= @event.servername %>
</p>

<p>
  <b>Tickstimestamp:</b>
  <%= @event.tickstimestamp %>
</p>-->

<p>
  <b>Eventtimestamp:</b>
  <%= @event.eventtimestamp %>
</p>

<!--<p>
  <b>Eventcategory:</b>
  <%= @event.eventcategory %>
</p>-->

<p>
  <b>Severity:</b>
  <%= @event.severity %>
</p>

<!--<p>
  <b>Priority:</b>
  <%= @event.priority %>
</p>-->

<p>
  <b>Message:</b>
  <%= @event.message %>
</p>

<!--<p>
  <b>Conditionname:</b>
  <%= @event.conditionname %>
</p>

<p>
  <b>Subconditionname:</b>
  <%= @event.subconditionname %>
</p>-->

<p>
  <b>Alarmclass:</b>
  <%= @event.alarmclass %>
</p>

<!--<p>
  <b>Active:</b>
  <%= @event.active %>
</p>

<p>
  <b>Acked:</b>
  <%= @event.acked %>
</p>

<p>
  <b>Effdisabled:</b>
  <%= @event.effdisabled %>
</p>

<p>
  <b>Disabled:</b>
  <%= @event.disabled %>
</p>

<p>
  <b>Effsuppressed:</b>
  <%= @event.effsuppressed %>
</p>

<p>
  <b>Suppressed:</b>
  <%= @event.suppressed %>
</p>

<p>
  <b>Personid:</b>
  <%= @event.personid %>
</p>

<p>
  <b>Changemask:</b>
  <%= @event.changemask %>
</p>-->

<p>
  <b>Inputvalue:</b>
  <%= @event.inputvalue %>
</p>

<p>
  <b>Limitvalue:</b>
  <%= @event.limitvalue %>
</p>

<!--<p>
  <b>Quality:</b>
  <%= @event.quality %>
</p>

<p>
  <b>Eventassociationid:</b>
  <%= @event.eventassociationid %>
</p>-->

<p>
  <b>Usercomment:</b>
  <%= @event.usercomment %>
</p>

<p>
  <b>Usercomputerid:</b>
  <%= @event.usercomputerid %>
</p>

<p>
  <b>Tag1value:</b>
  <%= @event.tag1value %>
</p>

<p>
  <b>Tag2value:</b>
  <%= @event.tag2value %>
</p>

<p>
  <b>Tag3value:</b>
  <%= @event.tag3value %>
</p>

<p>
  <b>Tag4value:</b>
  <%= @event.tag4value %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
